﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<center>
    <br />
    <br />
    <h2 style="font-family:Aharoni;">Simple CMS Assignment</h2>
    <h2 style="font-family:'Arabic Typesetting';">College Assignment</h2>

</center>



