﻿@model assignment.Models.inserttb
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<center>
    <br />
    <br />
    <h2 style="font-family:Aharoni;">Simple CMS Assignment</h2>
    <h2 style="font-family:'Arabic Typesetting';">Insert form</h2>

</center>

@{
    <p class="alert alert-success">@ViewBag.mess</p>
    using(Html.BeginForm()){
        <div class="form-group">
            @Html.Label("Enter username: ")
            @Html.TextBoxFor(x => x.username, null, new { @class="form-control"})
            <p style="color:red;">@Html.ValidationMessageFor(x => x.username)</p>
        </div>
        <div class="form-group">
            @Html.Label("Enter lastname: ")
            @Html.TextBoxFor(x => x.lastname, null, new { @class="form-control"})

            <p style="color:red;">@Html.ValidationMessageFor(x => x.lastname)</p>
        </div>
        <div class="form-group">
            @Html.Label("Enter Email Address: ")
            @Html.TextBoxFor(x => x.emailaddress, null, new { @class="form-control"})

            <p style="color:red;">@Html.ValidationMessageFor(x => x.emailaddress)</p>
        </div>
        <div class="form-group">
            @Html.Label("Enter age: ")
            @Html.TextBoxFor(x => x.age, null, new { @class="form-control"})

            <p style="color:red;">@Html.ValidationMessageFor(x => x.age)</p>
        </div>
        <div class="form-group">
            <input type="submit" value="Go" class="btn btn-primary" />
        </div>
        
    }
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>