﻿@model  IEnumerable<assignment.Models.inserttb>
@{
    ViewBag.Title = "select";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<form method="post">
    @{
        foreach (var item in Model)
        {
            <div class="form-group">

                <input type="hidden" value="@item.id" name="id" class="form-control" />

            </div>
            <div class="form-group">
                <label>Enter user name: </label>
                <input type="text" name="username" value="@item.username" class="form-control" />
            </div>

            <div class="form-group">
                <label>Enter Last name: </label>
                <input type="text" name="lastname" value="@item.lastname" class="form-control" />
            </div>

            <div class="form-group">
                <label>Enter Email Address: </label>
                <input type="text" name="emailaddress" value="@item.emailaddress" class="form-control" />
            </div>

            <div class="form-group">
                <label>Enter age: </label>
                <input type="text" name="age" value="@item.age" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Update Record" class="btn btn-danger" />
            </div>


        }
    }

</form>




