﻿@model IEnumerable<assignment.Models.inserttb>

@{
    ViewBag.Title = "ViewRecord";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

    <center>
    <br />
    <br />
    <h2 style="font-family:Aharoni;">Simple CMS Assignment</h2>
    <h2 style="font-family:'Arabic Typesetting';">View, Delete and Update</h2>

</center>
<form method="post" action="delete">

    <table class=" table table-bordered" >
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>LASTNAME</th>
            <th>EMAIL</th>
            <th>AGE</th>
            <th><input type="submit" value="Delete" class="btn btn-danger" /></th>
            <th>Action</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.username</td>
                    <td>@item.lastname</td>
                    <td>@item.emailaddress</td>
                    <td>@item.age</td>
                    <td><input type="checkbox" name="chkid" value="@item.id" /></td>
                    <td><a href="@Url.Action("select", "Start", new { id=@item.id})" class="btn btn-success">Update</a></td>
                </tr>

            }
        }
    </table>

</form>


